body {
    background-image: url(/assets/home_bg.jpg);
    background-blend-mode: lighten;
    color: aliceblue;
    font-family: 'Sanchez', serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-family: 'VT323', monospace;
}

main {
    display: inline-block;
    width: 80%;
}

aside {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}
