<h1 id="over">YOU DIED - GAME OVER</h1>

Final Resources: <br>
Fuel: <span id="fuel"><%= @current_user.fuel %></span>
Food: <span id="food"><%= @current_user.food %></span>
Gold: <span id="gold"><%= @current_user.gold %></span>

<%= button_to 'NEW GAME?', user_path(@current_user), :method => 'put', :id => 'new-game' %>
