<p>
<%= 'Welcome back user ' + @current_user.email + ' !' if @current_user.present? %>
</p>

<h1>SURVIVAL SPACE EXPLORATION!</h1>

<%= button_to 'NEW GAME', planets_path, :method => 'get', :id => 'time-start' %> <!-- planets_path is the index -->

<div class="row">
    <div class="col-7">
        <ol id="rules">
            <li>Explore planets, extract resources!</li>
            <li>Survive the longest!</li>
            <li>Gain the most gold!</li>
            <li>Travel the furthest!</li>
            <li>See your travel history!</li>
            <li>Discover new Planets!</li>
            <li>Get Lucky when you discover your planet!</li>
        </ol>

        <ol id="rules">
            <li>Initial Fuel: <span id="fuel">1000</span></li>
            <li>Initial Food: <span id="food">2000</span></li>
            <li>Initial Gold: <span id="gold">0</span></li>
            <li>unfortunately your tools can only extract half the amount of resources.</li>
        </ol>

        <h6> <em>caution: you require 100 food per second to remain alive</em> </h6>
    </div>

    <div class="col-5">
        <h4 id="friend">For more fun, Play with friends</h4>
    </div>
</div>
