<h1>SPACE EXPLORATION GAME</h1>

<p>Welcome back user <%= @current_user.email if @current_user.present? %></p>

<%= link_to 'START', planets_path, :id => 'time-start' %> <!-- planets_path is the index -->

<p>Explore planets, extract resources!<br>Survive the longest!<br> Gain the most gold!<br> Travel the furthest!<br>See your travel history!<br>Discover new Planets!<br>Get Lucky when you discover your planet!</p>
